<!doctype html>




<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Yonael's Web Page</title>
  <link rel="stylesheet" href="/static/style.css" type="text/css"/>

</head>

<body>
  <h1 id="name">Yonael Bekele</h1>
  <p id="about">401 student</p>
  <p id="education">Ualberta Comp sci undergraduate</p>
  <p id="skills">Programming Languages: Python, C, Java, HTML, CSS Technical Frameworks: Django, Android, SQlite, Elasticsearch</p>
  <p id="work">Full-time student</p>
  <p id="contact">email: yonael@ualberta.ca github: ybekele</p>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
  $(window).on('load', function(){
     // change the URL to your server URL here
     $.getJSON("http://162.246.157.120:8000", function (data) {
          $("#name").text(data.data.attributes.name);
          $("#about").text(data.data.attributes.about);
          $("#education").text(data.data.attributes.education);
          $("#skills").text(data.data.attributes.skills);
	  $("work").text(data.data.attributes.work);
	  $("contact").text(data.data.attributes.contact);
          // Complete consuming the API data and updating the work and contact sections
          // HINT: look at the above lines, jquery documentation, see what is the object returned
     
     

     });
  });
  </script>
</body>
</html>
